body{
    display: flex;
    justify-content: center;
    text-align: center;
}
.wi{
font-size: 5em;
}
section{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 15px;
    margin-top:25vh;
}
.ville{
    border: 4px solid black;
}